
header{
    
    margin-left: 500px;
    margin-right: 600px;
  
}
h1{
    margin-bottom: 10px;
}
main{

    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
main h2{
 margin-left: 30px;
  border: 15px ;
  padding: 50px;
  margin: 20px;

}
main img{
  border-radius: 10px;
  margin-left: 250px;
  margin-right: 600px;

}
body{
    background-color:dodgerblue;
}

footer{
    margin-left: 300px;
}
